* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.w {
    width: 900px;
    margin: 0 auto;
    padding: 0px 35px;
    background-color: #f5f5f5;
}

/*清除浮动*/
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
/*IE6 7专用*/
    *zoom: 1;
}

/*链接start*/
.link {
    font-size: 18px;
    color: cornflowerblue;
    display: block;
    text-decoration: none;
}
.link:hover {
    color: deepskyblue;
}
/*链接end*/

/*标题部分start*/
.head {
    background-color: rgb(244, 242, 235);
    margin-bottom: 10px;
}
.head div {
    float: left;
    width: 180px;
    height: 100px;
    background: url(../images/司余.png) no-repeat 10px -50px;
    background-size: 200px 200px;
}
.head h1 {
    color: rgb(39, 88, 122);
    font-family: "仿宋";
    line-height: 100px;
    text-align: center;
    padding-left: 20px;
}
/*标题部分end*/

/*主体部分start*/
.main div {
    margin: 0 auto;
    height: 216px;
    border: 1px solid gainsboro;
}
.main div img {
    float: left;
    width: 350px;
    height: 216px;
}
.main div ul {
    float: left;
    text-align: center;
}
.main div ul li {
    height: 30px;
    font-size: 18px;
    padding: 0 40px;
}
/*主体部分end*/

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?w78cva');
    src:  url('../fonts/icomoon.eot?w78cva#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?w78cva') format('truetype'),
      url('../fonts/icomoon.woff?w78cva') format('woff'),
      url('../fonts/icomoon.svg?w78cva#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}